.autocomplete-win{
	border:1px solid #ddd;
	position:absolute;
	width:auto;
	overflow: auto;
	background:#fff;
	clear:both;
	display:none;
}

.autocomplete-win .autocomplete-win-row{
	line-height:26px;
	cursor:pointer;
	padding:0 0 0 10px;
}
.autocomplete-win .autocomplete-win-row.last{
	border-bottom:0;
}
.autocomplete-win .autocomplete-win-row.focus{
	background: #dadada url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
.autocomplete-win .autocomplete-win-row.focus .row-label{
	color:#000;
}
.autocomplete-win .autocomplete-win-row.focus .row-description{
	color:#333;
}
.autocomplete-win .autocomplete-win-row div{
	clear:both;
}
.autocomplete-win .autocomplete-win-row div.row-left{
	float:left;
}
.autocomplete-win .autocomplete-win-row div.row-right{
	float:right;
}
.autocomplete-win .autocomplete-win-row div.row-label{
	font:14px bold Arail,Verdana;
	color:#666;
	line-height:26px
}
.autocomplete-win .autocomplete-win-row div.row-description{
	font:12px normal Arail,Verdana;
	color:#777;
	line-height:18px
}
.autocomplete-win .autocomplete-win-row .row-inline{
	float:left;
	margin-right:0;
	padding-right:0
}
.autocomplete-win .autocomplete-win-row img.row-icon{
	border:0;
	margin:2px;
}
.autocomplete-win .autocomplete-win-row img.row-icon.16x16{
	width:16px;
	height:16px
}
.autocomplete-win .autocomplete-win-row img.row-icon.32x32{
	width:32px;
	height:32px
}
.autocomplete-win .autocomplete-win-row img.row-icon.48x48{
	width:48px;
	height:48px
}
.autocomplete-edittable{
	overflow:hidden;
	border:1px solid #dedede;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	clear:both;
}
.autocomplete-edittable div{
	float:left;
	break-all:true;
}
.autocomplete-edittable .text-field{
	padding:0 3px 0 3px;
	cursor:default;
	outline:none;
}
.autocomplete-edittable .text-field.value{
	color:#999
}
.autocomplete-edittable .text-field.hover{
	background:#f5f5f5;
}
.autocomplete-edittable .text-field.selected{
	background:#ffcc99;
	color:#000;
}
.autocomplete-edittable .text-field.selected *{
	color:#000
}
.autocomplete-edittable .text-field.error-format,.autocomplete-edittable .text-field.error-format *{
	color:red
}
.autocomplete-edittable .edit-field{
	padding:0 3px 0 3px;
	overflow:hidden;
	outline:none;
}
.autocomplete-edittable .text-field-on-edit{
	padding:0 3px 0 3px;
	color:#333;
	outline:none;
}
.autocomplete-edittable .text-field-on-edit *{
	color:#333
}